<% if flash[:error].present? %>
  <h2><%= flash[:error] %></h2>
<% end %>

<%= form_for @collection do |f| %>
  <fieldset>
    <%= f.label :name %>
    <%= f.text_field :name, :required => true %>
  </fieldset>

  <fieldset>
    <%= f.label "Choose Samples" %><br>
    <% @samples.sort.each do |sample| %>
      <%= check_box_tag "collection[sample_ids][]", sample.id, @collection.sample_ids.include?(sample.id), id: dom_id(sample) %>
      <%= label_tag dom_id(sample), sample.title  %><br>
    <% end %>
  </fieldset>

  <%= f.submit %>

<% end %>
