  <%= link_to cl_image_tag(@collection.image, :class => 'collection_show_image', :alt => "#{@collection.name} image"), @collection %>

  <h1 class="collection_title_main"><%= link_to @collection.name, @collection, :class => 'link_to link_to_title' %></h1>
  <h3 class="collection_title_sub">A Collection by <%= link_to @collection.user.name, user_path(@collection.user.id), :class => 'link_to' %></h3>
  <hr class="collection_show_hr">

<div class="collection_controls_container">
  <div class="collection_controls">
    <%= link_to "Edit Collection", edit_collection_path(@collection), :class => "collection_controls_link link_to link_to_controls" if @current_user.collections.include?(@collection)%>

    <%= link_to "Delete Collection", @collection, :class => "collection_controls_link link_to link_to_controls", :method => 'delete' if @current_user.collections.include?(@collection)%>
  </div>
</div>


<% if flash[:error].present? %>
  <h3><%= flash[:error] %></h3>
<% end %>

<% @collection.samples.each do |sample| %>
  <div class="hidden_id"><%= sample.id %></div>
<% end %>

<% @collection.samples.each do |sample| %>

<div class="collection_playerOne_container">

  <div class="sample_container">
    <div class="sample_image_container">
      <%= link_to cl_image_tag(sample.image, :class => 'sample_image', :alt => "#{sample.title} cover image"), sample, :class => 'sample_image' %>
    </div>

    <div class="sample_detail_container">
      <h1><%= link_to sample.title, sample, :class => 'link_to' %></h1>
      <h2>Artist: <%= link_to sample.user.name, sample.user, :class => 'link_to' %></h2>
      <p>
        Genre:
        <% sample.genres.each do |genre| %>
          <%= genre.name %>
        <% end %>
      </p>
      <p>Created At: <%= sample.created_at.strftime '%l:%M %P, %B %e, %Y' %></p>
      <div class="sample_controls">
        <%= link_to "Edit Sample", edit_sample_path(sample), :class => "sample_control_link link_to link_to_controls" if @current_user.samples.include?(sample)%> |
        <%= link_to "Delete Sample", sample, :class => "sample_control_link link_to link_to_controls", :method => 'delete' if @current_user.samples.include?(sample)%>
      </div>

    </div>

<!-- AUDIO BEGINS -->

  <div class="player_container">
    <div class="player_controls_container">
      <div id="play<%= sample.id %>" class="player_item player_play"></div>
    </div>

    <div id="audio_wrapper<%= sample.id %>">
      <audio id="player<%= sample.id %>">
        <source src="<%= cloudinary_url(sample.audio_file, :resource_type=>"video") %>" type="audio/mp3">
      </audio>
    </div>

    <div class="progress_bar_container">
      <progress class="seekbar" id="seekbar<%= sample.id %>" value="0" max="1"></progress>
      <small class="start-time"></small>
      <small class="end-time"></small>
    </div>
  </div>

  </div>

</div>
<% end %>
