<h1><%= @collection.name %> Collection</h1>

<p>Artist: <%= @collection.user.name %></p>

<% if flash[:error].present? %>
  <h3><%= flash[:error] %></h3>
<% end %>

<% @collection.samples.each do |sample| %>
  <p><%= link_to sample.title, sample_path(sample.id) %></p>
<% end %>

<div class="collection_controls">
  <%= link_to "Edit Collection", edit_collection_path(@collection) if @current_user.collections.include?(@collection)%>
  <%= link_to "Delete Collection", @collection, :method => 'delete' if @current_user.collections.include?(@collection)%>
</div>
