<h1><%= @sample.title %></h1>


<div class="sample_playerOne_container">
  <!-- <div id="bg">
    <div id="blackLayer"></div>
    <img src="https://raw.githubusercontent.com/DaftCreation/Custom-Audio-Player/master/Poster1.jpg"/>
  </div> -->

  <div class="sample_container">
    <div class="sample_image_container">
      <img class="sample_image" src="<%= @sample.image %>" alt="album cover">
    </div>

    <div class="sample_detail_container">
      <h1><%= @sample.title %></h1>
      <h2>Artist: <%= @sample.user.name %></h2>
      <h3><%= link_to @sample.collection.name, @sample.collection unless @sample.collection.nil? %></h3>
      <p>
        Genre:
        <% @sample.genres.each do |genre| %>
          <%= genre.name %>
        <% end %>
      </p>

    </div>

<!-- AUDIO BEGINS -->

  <div class="player_container">
    <div class="player_controls_container">
      <div id="play" class="player_item player_play"></div>
    </div>

    <div id="audio_wrapper">
      <audio id="player">
        <source src="<%= @sample.audio_file %>" type="audio/mp3">
      </audio>
    </div>

    <div class="progress_bar_container">
      <progress id="seekbar" value="0" max="1"></progress>
      <small class="start-time"></small>
      <small class="end-time"></small>
    </div>
  </div>


  </div>

  <!-- <div id="main">
    <div id="image">
      <img src="<%= @sample.image %>"/>
    </div>

    <div id="player">
      <div id="songTitle"><%= @sample.title %></div>
      <div id="buttons">
        <button id="pre"><img src="https://raw.githubusercontent.com/DaftCreation/Custom-Audio-Player/master/Pre.png" alt="pre-button" height="90%" width="90%"></button>
        <button id="play"><img src="https://raw.githubusercontent.com/DaftCreation/Custom-Audio-Player/master/Play.png" alt="play-button"></button>
        <button id="next"><img src="https://raw.githubusercontent.com/DaftCreation/Custom-Audio-Player/master/Next.png" alt="next-button" height="90%" width="90%"></button>
      </div>

      <div id="seek-bar">
        <div id="fill"></div>
        <div id="handle"></div>
      </div>
    </div>
  </div> -->

</div>


<!-- <div class="sample_detail_container">

  <p>Artist: <%= @sample.user.name %></p>

  <p>Sample Type: <%= @sample.sample_type %></p>
  <p>
    Genre:
    <% @sample.genres.each do |genre| %>
      <%= genre.name %>
    <% end %>
  </p>
  <p>Collection: <%= link_to @sample.collection.name, @sample.collection unless @sample.collection.nil? %></p>
  <p class="hidden_audio_file"><%= @sample.audio_file %></p>
  <p><%= cl_image_tag @sample.image, :width => 250 %></p>
  <p>Created At: <%= @sample.created_at.strftime '%l:%M %P, %B %e, %Y' %></p>

  <div class="sample_controls">
    <%= link_to "Edit Sample", edit_sample_path(@sample) if @current_user.samples.include?(@sample)%>
    <%= link_to "Delete Sample", @sample, :method => 'delete' if @current_user.samples.include?(@sample)%>
  </div>
</div> -->
