<h1><%= @sample.title %></h1>

<p>Sample Type: <%= @sample.sample_type %></p>
<p>Collection: <%= @sample.collection.name %></p>
<p>Audio File: <%= @sample.audio_file %></p>
<p>Image: <%= @sample.image %></p>
