<h1><%= @sample.title %></h1>

<p>Sample Type: <%= @sample.sample_type %></p>
<p>
  Genre:
  <% @sample.genres.each do |genre| %>
    <%= genre.name %>
  <% end %>
</p>
<p>Collection: <%= @sample.collection.name unless @sample.collection.name.nil? %></p>
<p>Audio File: <%= @sample.audio_file %></p>
<p>Image: <%= @sample.image %></p>

<div class="sample_controls">
  <%= link_to "Back", samples_path %>
  <%= link_to "Edit Sample", edit_sample_path(@sample) %>
  <%= link_to "Delete Sample", @sample, :method => 'delete' %>
</div>
