<h1><%= @sample.title %></h1>

<p>Artist: <%= @sample.user.email %></p>

<p>Sample Type: <%= @sample.sample_type %></p>
<p>
  Genre:
  <% @sample.genres.each do |genre| %>
    <%= genre.name %>
  <% end %>
</p>
<p>Collection: <%= @sample.collection.name unless @sample.collection.nil? %></p>
<p>Audio File: <%= @sample.audio_file %></p>
<p>Image: <%= @sample.image %></p>
<p>Created At: <%= @sample.created_at.strftime '%l:%M %P, %B %e, %Y' %></p>

<div class="sample_controls">
  <%= link_to "Edit Sample", edit_sample_path(@sample) if @current_user.samples.include?(@sample)%>
  <%= link_to "Delete Sample", @sample, :method => 'delete' if @current_user.samples.include?(@sample)%>
</div>
