<h1 class="user_main_title"><%= link_to @user.name, user_path(@user.id) %></h1>

<div class="title_section_container">
  <h1 class="user_show_collection_title">Samples</h1>
  <h4><%= link_to "New Sample", new_sample_path %></h4>
</div>
<hr class="user_show_hr">


<% @samples.each do |sample| %>
  <div class="hidden_id"><%= sample.id %></div>
<% end %>


<div class="explore_grid_wrapper">
  <% @samples.each do |sample| %>

  <div class="explore_sample_container">
    <div class="explore_sample_white_container">
      <p class="explore_sample_detail"><%= link_to sample.title, sample %></p>

    </div>
    <div class="explore_sample_image_container">
      <%= link_to cl_image_tag(sample.image, :class => 'explore_sample_image', :alt => "#{sample.title}"), sample %>
      <div class="explore_sample_image_blur">
        <div class="explore_player_container">
          <div class="player_controls_container">
            <div id="play<%= sample.id %>" class="explore_player_item explore_player_play"></div>
          </div>

          <div id="audio_wrapper<%= sample.id %>">
            <audio id="player<%= sample.id %>">
              <source src="<%= sample.audio_file %>" type="audio/mp3">
            </audio>
          </div>

          <div class="explore_progress_bar_container">
            <progress id="seekbar<%= sample.id %>" value="0" max="1"></progress>
          </div>
        </div>

      </div>
    </div>
  </div>

<% end %>
</div>

<div class="title_section_container">
  <h1 class="user_show_collection_title">Collections</h1>
  <h4><%= link_to "New Collection", new_collection_path %></h4>
</div>
<hr class="user_show_collection_hr user_show_hr">

<div class="explore_grid_wrapper">
  <% @collections.each do |collection| %>

  <div class="explore_sample_container">
    <div class="explore_sample_white_container">
      <p class="explore_sample_detail"><%= link_to collection.name, collection %></p>

    </div>
    <div class="explore_sample_image_container">
      <%= link_to cl_image_tag(collection.image, :class => 'explore_sample_image', :alt => "#{collection.name} image"), collection %>
    </div>
  </div>

<% end %>
