<div class="grid-container">
  <% @samples.each do |sample| %>
    <div class="hidden_id"><%= sample.id %></div>
  <% end %>


  <div class="explore_grid_wrapper">
    <% @samples.each do |sample| %>

    <div class="explore_sample_container">
      <div class="explore_sample_white_container">
        <p class="explore_sample_detail"><%= link_to sample.title, sample, :class => 'link_to' %> by <%= link_to sample.user.name, user_path(sample.user.id), :class => 'link_to' %></p>

      </div>
      <div class="explore_sample_image_container">
        <%= link_to cl_image_tag(sample.image, :class => 'explore_sample_image', :alt => "#{sample.title}"), sample %>
        <div class="explore_sample_image_blur">

          <div class="explore_player_container">
            <div class="player_controls_container">
              <div id="play<%= sample.id %>" class="explore_player_item explore_player_play"></div>
            </div>

            <div id="audio_wrapper<%= sample.id %>">
              <audio id="player<%= sample.id %>">
                <source src="<%= sample.audio_file %>" type="audio/mp3">
              </audio>
            </div>

            <div class="explore_progress_bar_container">
              <progress class="explore_seekbar" id="seekbar<%= sample.id %>" value="0" max="1"></progress>
            </div>
          </div>

        </div>
      </div>
    </div>

  <% end %>
  </div>
</div>
